@font-face {
	font-family: SMB; 
	src: url(../fonts/smb.ttf);
}

* {
	font-family: SMB;
}

@font-face {
	font-family: ARCO; 
	src: url(../fonts/ARCO.ttf);
}

@font-face {
	font-family: MEL; 
	src: url(../fonts/melon.ttf);
}

@font-face {
	font-family: MC; 
	src: url(../fonts/Minecraft.ttf);
}

.arcotext {
	font-family: ARCO;
}

.melontext {
	font-family: MEL;
	font-size: 1.25em;
}

.rgbtext {
	font-family: MEL;
	font-size: 0.75em;
}

.smbtext {
	font-family: SMB;
	font-size: 0.75em;
}

.mctext {
	font-family: MC;
	font-size: 1em;
}

.fileicon {
	height: 200px;
	width: 200px;
}

.snaxindex {
	height: 325px;
	width: 600px;
}

.downloadicon {
	height: 50px;
	width: 50px;
}

.subheading {
	font-size: 0.5em;
}

.navtext {
	font-size: 1.75em;
}

.pitext {
	font-size: 2.75em;
}

.bkgpage {
	background-color:powderblue;
}

.bkgnav {
	background-color:white;
}

.homelogomc {
	height: 65px;
	width: 185px;
}

.homelogosmb {
	height: 60px;
	width: 175px;
}

.dropdownyes {
	height: 40px;
	width: 52px;
}

.dropdowncolor {
	color: black;
}

.dropdownscroll {
	max-height: 325px;
	overflow-y: scroll;
}

.bugmodscroll {
	max-height: 720px;
	overflow-y: scroll;
}

.gamedisplay {
	height: 707px;
	width: 1363px;
}

.funcdisplay {
	height: 100%;
	width: 100%;
}

#wooddrops {
	bottom: 14% !important;
	left: 5.5% !important;
}

#sapdrops {
	bottom: 10.8% !important;
	left: 48.8% !important;
}

.dropsize {
	width: 140%;
	height: 160%;
	border: 4px solid hotpink;
	border-radius: 25px;
}

.dropsize:hover {
	border-color: pink;
}

.center {
  margin: auto;
  width: 250%;
  padding: 10px;
  margin: 10px;
}

.centermobile {
  margin: auto;
  width: 55%;
  padding: 5px;
  margin: 5px;
}

.centertext {
  margin: auto;
  width: 250%;
}